alabaster==0.7.8
attrs==22.1.0
Babel==2.6.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.11.0
dbus-python==1.2.16
distro-info===0.23ubuntu1
docutils==0.16
fonttools==4.37.1
idna==2.8
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==2.10.1
kiwisolver==1.4.4
MarkupSafe==1.1.0
matplotlib==3.5.3
numpy==1.23.2
olefile==0.46
packaging==20.3
pandas==1.4.3
Pillow==7.0.0
pluggy==1.0.0
py==1.11.0
Pygments==2.3.1
PyGObject==3.36.0
pyparsing==2.4.6
pytest==7.1.2
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
pytz==2022.2.1
requests==2.22.0
requests-unixsocket==0.2.0
roman==2.0.0
scipy==1.9.1
six==1.14.0
Sphinx==1.8.5
tomli==2.0.1
unattended-upgrades==0.1
urllib3==1.25.8
xlrd==2.0.1
